<ion-header>
  <ion-toolbar>
    <ion-title>
      Docentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Docentes
    </ion-list-header>

    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{booking.nombre}}
        </h5>
        <p>
          <ion-icon ></ion-icon> {{booking.apellidoPaterno}}
        </p>
        <p>
          <ion-icon ></ion-icon> {{booking.apellidoMaterno}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-docente/', booking.$keyDocente]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteBooking(booking.$keyDocente)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>